{% extends 'pagination.html.twig' %}

{% block columns %}
    <td></td>
    <td><b>#</b></td>
    <td><b>Название</b></td>
    <td><b>Статус</b></td>
    <td><b>Опыт</b></td>
    <td><b>Теги</b></td>
    <td><b>Время создания</b></td>
{% endblock %}

{% block route_next %}
    {{ path('resume-list', {title: title, status: status, page: pagination.CurrentPageNumber+1}) }}
{% endblock %}

{% block route_prev %}
    {{ path('resume-list', {title: title, status: status, page: pagination.CurrentPageNumber-1}) }}
{% endblock %}


