{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the Index Page</h1>
    <a href="{{ path('index') }}">Go to Index</a>
    <a href="https://google.com">Go to Detail</a>
{% endblock %}
