{% extends 'user/auth_form.html.twig' %}

{% block title %}Авторизация{% endblock %}
{% block action %}Авторизация{% endblock %}

{% block error %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block form %}
    <label for="inputLogin">Логин</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>

    <label for="inputPassword">Пароль</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <label for="inputRememberMe">Запомнить меня</label>
    <input type="checkbox" name="rememberMe" id="inputRememberMe" class="form-check form-check-input">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{% endblock %}
{% block action_btn %}Войти{% endblock %}
